body,
html {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--background);
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-D-column{
  flex-direction: column;
}
.flex-D-row{
  flex-direction: row;
}
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.img-fluid {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
}

.section {
  width: 100%;
  height: auto;
  overflow: auto;
}

.code {
  font-size: 1rem;
  color: #3d614c;
  font-family: 'Fira Code', monospace;
}

.code span {
  color: #3a6896;
  font-family: 'Fira Code', monospace;
}
span.llave {
  font-size: 1rem;
  color: #716d34;
  font-family: 'Fira Code', monospace;
}